.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;

  .layout__content {
    flex: 1;
    background: var(--sidebar-bg);
    color: var(--text-color);
    padding: 2rem;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
}
