@font-face {
  font-family: 'Publico Headline Bold';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/publico.woff2');
  src: url('/assets/publico.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  src: url('/assets/SourceSansPro-Regular.ttf');
  src: url('/assets/SourceSansPro-Regular.ttf') format('truetype');
}

* {
    font-family: 'Source Sans Pro';
    
}

body {
  margin: 0;
  background-color: #fafafa !important;
}

html {
scroll-padding-top: 100px;
scroll-behavior: smooth;

&:has(dialog[open]) {
    overflow: hidden;
}
}